body {
  font: 0.85em/1.35em sans-serif;
}
a, a:link, a:active, a:visited, a:hover {
  color: #f03;
  text-decoration: none;
}
h1, h2, h3, h5, h5, h6 {
  line-height: 1em;
}
#site-name {
  font-size: 2em;
}